<%# 記述例 : include(baseMeta.path + 'parts/_c-cardCP', { link:'', img:'' , alt:'',  cat:'', title:'', plan:'', old:"", price:""} )%>
<div class="c-cardCP" href="<%= link %>">
  <figure class="c-cardCP__img">
    <img src="<%= img %>" alt="<%= alt %>">
  </figure>
  <div class="c-cardCP__body">
    <span class="c-cardCP__cat"><%= cat %></span>
    <h3 class="c-cardCP__title"><%= title %></h3>
  </div>
  <div class="c-cardCP__bottom">
    <p class="c-cardCP__plan"><%= plan %></p>
    <div class="c-cardCP__block">
      <p class="c-cardCP__priceOld is-revision"><%= old %></p>
      <p class="c-cardCP__priceNew"><%= price %></p>
    </div>
  </div>
</div>