<% 
const baseMeta = { 
	path:'./',
	}; 
%>
<%# 記述例 : include(baseMeta.path + 'parts/_p-media1', { 
  mod1:'',
  mod2:'',
  img:'./images/top/works2.jpg',
  alt:'画像',
  title:'メインタイトルが入ります。', 
  text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
  btn:'#',
		text2:'詳しく見る'
  })%>
<div class="p-media1">
  <div class="p-media1__top">
    <div class="p-media1__img1"><img src="<%= img1 %>" alt="<%= alt1 %>"></div>
    <div class="p-media1__img2"><img src="<%= img2 %>" alt="<%= alt2 %>"></div>
  </div>
  <div class="p-media1__main">
    <h3 class="p-media1__title"><%- title %></h3>
    <div class="p-media1__text-box">
      <p class="p-media1__text"><%- text %></p>
      <div class="p-media1__btn">
        <%- include(baseMeta.path + '_c-btnSlide', { link:'#', text:'View more'} )%>
      </div>
    </div>
  </div>
</div>